* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


/* Style Nav */
nav a {
    text-decoration: none;
    color: #474747;
}

h2 {
    color: #474747;
}

.nav-container {
    background: transparent;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
}
  
nav {
    width: 80%;
    margin: auto;
    min-height: 10vh;
    padding: 3rem 0rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    list-style: none;
  }
  
.logo {
    -webkit-box-flex: 3;
    -ms-flex: 3;
        flex: 3;
    position: relative;
}


body{
  font-size: 30px;
  background: #ebebeb;
}

section {
    min-height: 100vh;
    text-align: center;
    position: relative;
    overflow: visible;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}
.div{
   box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  height: 300px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #1cd8d2, #93edc7);
  color: white;
  margin: 100px 0;
  border-radius: 7px;
}

