* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }

body {
    font-family: 'Sono', sans-serif;
    font-weight: 200;
    letter-spacing: 3px;
    color: black;
    overflow: scroll; 
    font-size: 24px;
}

p {
    font-size: 24px;
    margin-bottom: 15px;
}


h1 {
    font-size: 100px;
    font-weight: 900;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h2 {
    font-size: 60px;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -10%);
}

h3 {
    font-size: 50px;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -10%);
}


.scissor {
    width: 35px; 
    height: auto;
    bottom: 3%;
    left: 10%;
    position: absolute;
}

/* Style Nav */
a {
    text-decoration: none;
    color: black;
}

.nav-container {
    background: transparent;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
  }
  
nav {
    width: 80%;
    margin: auto;
    min-height: 10vh;
    padding: 3rem 0rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    list-style: none;
  }
  
.logo {
    -webkit-box-flex: 3;
    -ms-flex: 3;
        flex: 3;
    position: relative;
}

.top {
    position: fixed;
    top: 92%;
    left: 13%;
    transform: translate(-92%, -13%);
    z-index: 2;
}

.s1 {
    text-align: center;
    position: relative;
    overflow: visible;
}

.s1, .s3, .s5 {
    background: white;
}

.s2, .s2bis, .s4, .s6 {
    background: white;
}

.s2 h1 {
    font-size: 48px;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -10%);
}

#momaroom {
    height: 45%;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
}

#man {
    height: 100%;
    position: absolute;
    top: 68%;
    left: 67%;
    transform: translate(-67%, -68%);
}

.c3 {
    height: 14%;
    position: absolute;
    top: 57%;
    left: 70%;
    transform: translate(-70%, -57%);
}

.description4, .description8 {
    align-content: center;
    position: relative;
    padding: 10%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.description4 p, .description8 p {
    padding-right: 15%;
    padding-left: 15%;
}

#counters {
    padding-top: 2%;
    padding-right: 15%;
    padding-left: 15%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
    justify-content: space-around;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
}

figcaption{
    padding-top: 8%;
    font-size: 40px;
}

#ctate {
    padding-top: 14%;
}

/* Style Museum */

#img2 {
    height: 100%;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -10%);
    z-indez: -1;
}

#img2b {
    height: 38%;
    position: absolute;
    top: 60%;
    left: 40%;
    transform: translate(-40%, -60%);
    z-indez: -1;

}

#img2c {
    height: 40%;
    position: absolute;
    top: 75%;
    left: 60%;
    transform: translate(-60%, -75%);
    z-indez: -1;

}

.description2 {
    align-content:center;
    position: absolute;
    width: 42%;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -35%);
    text-align: center;
}

#p2, #p3, #p4 {
    margin-top: 8%;
}

#par1 {
    position: absolute;
    width: 42%;
    top: 18%;
    left: 25%;
    transform: translate(-25%, -18%);
    text-align: left;
}

#par2 {
    position: absolute;
    width: 42%;
    top: 50%;
    left: 80%;
    transform: translate(-80%, -50%);
    text-align: right; 
}

#par3 {
    position: absolute;
    width: 42%;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -75%);
    text-align: left;
    font-size: 40px;
}

.description5 {
    align-content:center;
    position: absolute;
    width: 42%;
    top: 50%;
    left: 23%;
    transform: translate(-23%, -50%);
    text-align: right;
}

#img5 {
    height: 85%;
    position: absolute;
    top: 50%;
    left: 85%;
    transform: translate(-85%, -50%);
}

.description6 {
    align-content:center;
    position: absolute;
    width: 42%;
    top: 50%;
    left: 78%;
    transform: translate(-78%, -50%);
    text-align: left;
}

#img6 {
    height: 85%;
    position: absolute;
    top: 50%;
    left: 18%;
    transform: translate(-18%, -50%);
}

.description7 {
    align-content: center;
    position: absolute;
    width: 60%;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    text-align: center;
}

#img7 {
    height: 45%;
    position: absolute;
    top: 90%;
    left: 10%;
    transform: translate(-10%, -90%);
}

