* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

/* Style Nav */
a {
    text-decoration: none;
    color: #474747;
}

h2 {
    color: #474747;
}

.nav-container {
    background: transparent;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
  }
  
nav {
    width: 80%;
    margin: auto;
    min-height: 10vh;
    padding: 3rem 0rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    list-style: none;
  }
  
.logo {
    -webkit-box-flex: 3;
    -ms-flex: 3;
        flex: 3;
    position: relative;
}


#dotted-line {
    height: 28%;
    position: fixed;
    top: 45%;
    left: 12%;
    transform: translate(-45%, -12%);
}

#scissor-navigator {
    height: 4%;
    position: fixed;
    top: 40%;
    left: 11.8%;
    transform: translate(-40%, -11.8%);
}

.scroll1 {
    height: 4%;
    position: absolute;
    top: 50%;
    left: 11.8%;
    transform: translate(-40%, -11.8%);
}

.scroll2 {
    height: 4%;
    position: absolute;
    top: 50%;
    left: 11.8%;
    transform: translate(-40%, -11.8%);
}

.scroll3 {
    height: 4%;
    position: absolute;
    top: 60%;
    left: 11.8%;
    transform: translate(-40%, -11.8%);
}

.scroll4 {
    height: 4%;
    position: absolute;
    top: 60%;
    left: 11.8%;
    transform: translate(-40%, -11.8%);
}


/* Style Body */

h1 {
    font-size: 48px;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -10%);
    background: #474747;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#homepage-body h1 {
    font-size: 64px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
    background: linear-gradient(to left, #757575, #474747);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

body {
    font-family: "Poppins", sans-serif;
    font: 16px;
    color: #474747;
}

section {
    height: 100vh;
    text-align: center;
    position: relative;
}

.section {
    opacity: 0;
    transition: all 2s ease-out;
}

.section.fade-in {
    opacity: 1;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

p {

}

/* Media Queries */

@media only screen and (min-width: 480px) {

}
@media only screen and (min-width: 768) {
   
}
@media only screen and (min-width: 1140) {
    
}



